<div class="jumbotron text-center">
  <div class="container">
    <div class="row p-xl-4">
      <div class="col-12 shadow-lg">Main Page</div>
    </div>

  </div>
  <div class="">
    <button class="btn btn-dark" routerLink="/login"> GoToLogin</button>
  </div>
</div>
