<p>homepage works!</p>
<div>
  <button routerLink="attendence">attendence</button>
  <br><br>
  <button routerLink="performance">performance</button>
  <br><br>
  <button routerLink="fees">fees/Dues</button>
  <br><br>
  <router-outlet></router-outlet>
</div>
