<div (window:resize)="getSize($event)">
  <div class="col">
    <div class="row" [style.height]="isSmall() ? smallHeight : heightOfPage">

      <div class="col-12 col-md-5 text-light this-background" [style.paddingTop]="isSmall() ? 0 : topPadding" [style.paddingLeft]="leftPadding">
        <div class="display-4">
          <div class="small">Tarkshala<br>Scholars Portal</div>
        </div>
        <div class="pt-2">Reset Password from here.</div>
      </div>

      <div class="col-12 col-md-7">
        <div class="text-capitalize pt-5">
          <div class="pb-3">
            <div class="pb-1">user name</div>
            <div><input type="text" class="form-control form-text w-75" placeholder="User Name" #userId></div>
          </div>
          <div>
            <button class="btn text-light this-background" (click)="getUrl('authentication/password/forgot', userId.value)">Reset Password</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
