<div (window:resize)="getSize($event)">
  <div class="col">
    <div class="row" [style.height]="isSmall() ? smallHeight : heightOfPage">

      <div class="col-12 col-md-5 text-light this-background" [style.paddingTop]="isSmall() ? 0 : topPadding" [style.paddingLeft]="leftPadding">
        <div class="display-4">
          <div class="small">Tarkshala<br>Scholars Portal</div>
        </div>
        <div class="pt-2">Login from here to access.</div>
      </div>

      <div class="col-12 col-md-7 text-capitalize">
        <div class="pt-5 pb-2">
          <div class="pb-1">user name</div>
          <div><input type="text" class="form-control form-text w-50" placeholder="User Name" #userId></div>
        </div>
        <div class="pb-3">
          <div class="pb-1">password</div>
          <div><input type="text" class="form-control form-text w-50" placeholder="Password" #password></div>
        </div>
        <button class="btn text-light this-background" (click)="getUrl('authentication/login', userId.value, password.value)">Login</button>
        <a routerLink="forget-password" style="color: #3cb39c" class="pl-3">Forget Password</a>
      </div>

    </div>
  </div>
</div>


<!--Email: <input type="text" #userId><br>-->
<!--Password: <input type="text" #password><br>-->
<!--<button class="btn btn-outline-success w-100" (click)="getUrl('authentication/login', userId.value, password.value)">Login</button>-->
